:root {
  --text: #01040f;
  --background: #f6f6f6;
  --primary: #f50002;
  --secondary: #f5c318;
  --accent: #d3e37a;
  --default_shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --hover_shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  color: var(--text);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 70%;
  margin: auto;
}

section {
  display: flex;
  flex-wrap: wrap;

  .person {
    flex: 0 1 175px;
    padding: 15px;
    box-shadow: var(--default_shadow);
    border-radius: .5em;
    padding: 2px, 6px;
    margin: 5px;
    overflow-x: hidden;
    position: relative;
    background-color: #ffffff;

    &:hover {
      box-shadow: var(--hover_shadow);
      
      .id-hole {
        box-shadow: inset var(--hover_shadow);
      }
    }

    .id-hole {
      color: var(--background);
      box-shadow: inset var(--default_shadow);
      width: 40px;
      height: 12px;
      margin: auto;
      display: block;
      border-radius: 1em;
    }

    & div.name-and-img {
      margin-top: 10px;
      &>h3 {
        color: var(--primary);
        text-align: center;
        width: 100%;
        font-size: 20px;
        margin: 2px;
      }

      &>img {
        width: 100%;
        border: solid 2px var(--primary);
        
      }
    }

    & div.data-table {
      font-size: 11px;
      letter-spacing: .9;
      overflow-wrap: break-word;
      display: flex;
      .label {
        font-style: bold;
        color: var(--primary);
        font-size: 9px;
        width: 35px;
        text-transform: uppercase;
      }
    }
  }
}